@using ThenAndNow.Enums

<Loader DataLoaded="DataLoaded">
    <article class="mb-5">
        <section class="header">
            <header class="d-flex align-items-center justify-content-between">
                <h4 class="m-0 pointer" @onclick="() => NavigationService.NavigateToEntry(Entry.Id)">#@Entry.Id - @Entry.Title</h4>
                <div class="buttons text-end">
                    <a href="@(Routes.GoogleMapBaseUrl + GetLocation())" target="_blank">
                        <img alt="Map Icon" class="tooltip-test" src="icons/map.svg" title="@Labels.MapIcon" />
                    </a>
                    <img alt="More Details" class="ms-3 tooltip-test" src="icons/details.svg" title="@Labels.MoreDetailsIcon" @onclick="ToggleDetails" />
                </div>
            </header>
        </section>
        @if (ShowDetails)
        {
            <Loader DataLoaded="DetailsLoaded">
                <div>
                    <hr />
                    <div class="d-flex justify-content-end my-2">
                        <span>@GetRatingDesc()</span>
                        @if (VotingEnabled is true)
                        {
                            <img alt="Thumbs up" class="mx-2" src="icons/thumbsUp.svg" title="@Labels.ThumbsUp" @onclick="ThumbsUp" />
                            <img alt="Thumbs down" src="icons/thumbsDown.svg" title="@Labels.ThumbsDown" @onclick="ThumbsDown" />
                        }
                    </div>
                    @if (!string.IsNullOrEmpty(Entry.Description))
                    {
                        <p>@Entry.Description</p>
                    }
                    <div class="d-flex flex-wrap">
                        @foreach (var tag in Entry.Tags)
                        {
                            <span class="tag" @onclick="() => NavigationService.Navigate(new QueryParams { Tag = tag })">@tag</span>
                        }
                    </div>
                </div>
            </Loader>
        }
        <Loader DataLoaded="true">
            <figure class="text-center mt-3">
                <div class="image-container">
                    <picture class="image-layer @(OriginalPhoto ? "visible" : "hidden")">
                        <source media="(max-width: 576px)" srcset="@GetImagePath(true)" />
                        <source media="(max-width: 992px)" srcset="@GetImagePath(true)" />
                        <img alt="@Entry.Title" loading="lazy" src="@GetImagePath(true)" />
                    </picture>
                    <picture class="image-layer @(OriginalPhoto ? "hidden" : "visible")">
                        <source media="(max-width: 576px)" srcset="@GetImagePath()" />
                        <source media="(max-width: 992px)" srcset="@GetImagePath()" />
                        <img alt="@Entry.Title" loading="lazy" src="@GetImagePath()" />
                    </picture>
                    <div class="image-toggle-overlay" @onclick="@(() => { OriginalPhoto = !OriginalPhoto; })"></div>
                </div>
                <figcaption>
                    <i>@(Labels.FigcaptionBase + GetFigcaption()) </i>
                </figcaption>
            </figure>
        </Loader>
        <SocialBox DirectUrl="@DirectUrl" Id="Entry.Id" />
    </article>
</Loader>